.special_fontsize {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100vh; /* or whatever height you need */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: 
      url('../../assets/images/WaRYE106g3VUiQ.jpg'), /* The main image */
      linear-gradient(to right, transparent 200px, rgba(255, 255, 255, 0) 200px); /* Simulates the effect */
    background-size: cover, 100% 100%;
    background-repeat: no-repeat, repeat-y;
    background-position: center, left;
  }
  